@load "../voicings/simple.lua";

[
type: template;
name: piano.bossanova.normal;
instrument: piano; 
{
   -- /voicingStrategy: simple range tenor/
    <VII, VII>4 <III, V,>8 <V, V>8 r8 <III, V,>8 r8 <V, V> | r8 <III, V,>8 r8 <V, V> r8 <III, V,> r8 <VII, VII> |
}    
] 
