@load "lua/mods/swing.lua";

[
type: template;
name: x;
instrument: rhythm;
{
    \f
    /do: swing grid 8 offset 40/
    r4  <I II III IV V VI VII>32 r16.  <I II III IV V VI VII>16 r  
    r4  <I II III IV V VI VII>32 r16.  <I II III IV V VI VII>16 r |

}
]