@load "lua/mods/swing.lua";
@load "lua/mods/staccato.lua";

[
type: template;
name: x;
instrument: rhythm;
{
    \f
    /do: swing grid 8 offset 40/
    r4   /modOnce: staccato amount 100/ <I II III IV V VI VII>8  /modOnce: staccato amount 40/ <I II III IV V VI VII>8 
    r4   /modOnce: staccato amount 100/ <I II III IV V VI VII>8  /modOnce: staccato amount 40/ <I II III IV V VI VII>8  
    |

}
]