
[
type: template;
name: bass.purdie.normal;
instrument: bass; 
{
    I,,8t I,,8t r8t r4t I,,8t r4t r8t V,,,4t VII,,,8t |
    I,,8t I,,8t r8t r4t I,,8t r4t r8t V,,,4t VII,,,8t |
    I,,8t I,,8t r8t r4t I,,8t r4t r8t V,,,4t VII,,,8t |
    I,,8t I,,8t r8t r4t I,,8t r4t r8t V,,,4t~ V,,,8t |
}
] 