[
type: template;
name: drums.blues.normal;
instrument: drums; 
{

}
{
    \ff
    "ht"8t !p&  "ht"     &  !p"ht"  &     &  !p"ht"  &     &  !p"ht"  &     |
    
}
{
    /do: swing grid 8 offset 60/
    \f
    "bd"8 &     !fff"sn" "bd"  "bd"8 &    !fff"sn" "bd"8 |
}
]