[
type: template;
name: drums.blues.normal;
instrument: drums; 
{

}
{
    \ff
    "ht"8t !fx  "ht"    !fx  "ht"  !fx    !fx  "ht"  !fx    !fx  "ht"  !fx     |
    
}
{
    /do: swing grid 8 offset 60/
    \f
    "bd"8 x     !fff"sn" "bd"  "bd"8 x    !ff"sn" "bd"8 |
}
]