[
type: template;
name: drums.blues.normal;
instrument: drums; 
{

}
{
    \ff
    "ht"8t !px  "ht"     x  !p"ht"  x     x  !p"ht"  x     x  !p"ht"  x     |
    
}
{
    /do: swing grid 8 offset 60/
    \f
    "bd"8 x     !fff"sn" "bd"  "bd"8 x    !fff"sn" "bd"8 |
}
]