-- violin 1
instrumentDef:Vl1 _onDevice=MyDevice  _ch=0 _pc=48;
-- violin 2 
instrumentDef:Vl2 _onDevice=MyDevice  _ch=1 _pc=48;
instrumentConf:Vl2 mod flugaufdemgluecksdrachentrills volume 80 pan 70;
-- viola
instrumentDef:Vla _onDevice=MyDevice  _ch=2 _pc=41; 
instrumentConf:Vla volume 70 pan 0;

-- cello
instrumentDef:Vcl _onDevice=MyDevice  _ch=3 _pc=48; -- the cello sound of FluidR3_GM doesn't fit very well 
instrumentConf:Vcl volume 65 pan 100;

-- ebass
instrumentDef:ebass _onDevice=MyDevice  _ch=4 _pc=38;
instrumentConf:ebass volume 50;

-- piano
instrumentDef:pno _onDevice=MyDevice  _ch=5 _pc=5;
instrumentConf:pno volume 65 pan 20;

-- synth
instrumentDef: synL _onDevice=MyDevice _ch=6 _pc=80;
instrumentConf:synL volume 60 pan 0;
instrumentDef: synR _onDevice=MyDevice _ch=7 _pc=80;
instrumentConf:synR volume 50 pan 100;
instrumentSection: _setName=syn synR synL;

-- drums
instrumentDef:drums _onDevice=MyDevice  _ch=9 _pc=0;
instrumentConf:drums volume 70;

-- lead 
instrumentSection: _setName=lead pno Vl2;