name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: cmake -DCMAKE_BUILD_TYPE=Release ..
      working-directory: build
      env:
        WM_DOWNLOAD_EXTERNALS: 0
    - name: build
      run: cmake --build . --config Release
      working-directory: build
    - name: pack
      run: \"C:/Program Files/CMake/bin/cpack\" -G WIX
      working-directory: build
