name: Windows Build

on:
  push:
    branches: 
        - main
        - feature/* 
        - bugfix/*
        - develop
        - bugfix/*
  pull_request:
    branches: [ develop ]
  schedule:
    - cron: '0 0 17 * *'

jobs:
  build:
    if: true
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: update submodules
      run: git submodule update --init --recursive --remote
    - name: Download Boost
      run: |
        BOOST_VERSION=1.87.0
        BOOST_VERSION_UNDERSCORE=${BOOST_VERSION//./_}
        wget "https://archives.boost.io/release/$BOOST_VERSION/source/boost_$BOOST_VERSION_UNDERSCORE.tar.gz"
        tar -xzf boost_$BOOST_VERSION_UNDERSCORE.tar.gz
        mv boost_$BOOST_VERSION_UNDERSCORE boost-src
    - name: Build and install Boost
      run: |
        cd boost-src
        ./bootstrap.sh --prefix="$Env:USERPROFILE\local"
        ./b2 link=static runtime-link=static --with-filesystem --with-program_options --with-locale --with-system --with-test --with-date_time install

    - name: configure
      run: cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$Env:USERPROFILE\local ..
      working-directory: build
    - name: install render test requirements
      run: pip3 install -r requirements.txt
      working-directory: rendertests        
    - name: build
      run: cmake --build . --config Release
      working-directory: build
    - name: test
      run: ./rehearse
      working-directory: build/Release 
    - name: run rendertests
      run: python runtests.py
      continue-on-error: false
      working-directory: rendertests           
    - name: pack
      run: cmake --build . --config Release --target package
      working-directory: build
    - uses: actions/upload-artifact@v4
      with:
        name: werckmeister-win-${{ github.sha }}
        path: | 
          build/werckmeister-*-win64.msi
          rendertests/*.mid
