name: Linux Build

on:
  push:
    branches: 
        - main
        - feature/* 
        - bugfix/* 
        - develop
        - bugfix/*
  pull_request:
    branches: [ develop ]
  schedule:
      - cron: '0 0 17 * *'

jobs:
  build:
    if: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update submodules
      run: git submodule update --init --recursive --remote    
    - name: install alsa
      run: sudo apt-get update && sudo apt-get install -y libasound2-dev
    - name: configure python venv
      run: python -m venv myEnv
      working-directory: rendertests
    - name: install render test requirements
      run: source myEnv/bin/activate && pip3 install -r requirements.txt
      working-directory: rendertests
    - name: Download Boost
      run: |
        BOOST_VERSION=1.87.0
        BOOST_VERSION_UNDERSCORE=${BOOST_VERSION//./_}
        wget "https://archives.boost.io/release/$BOOST_VERSION/source/boost_$BOOST_VERSION_UNDERSCORE.tar.gz"
        tar -xzf boost_$BOOST_VERSION_UNDERSCORE.tar.gz
        mv boost_$BOOST_VERSION_UNDERSCORE boost-src
    - name: Build and install Boost
      run: |
        cd boost-src
        ./bootstrap.sh --prefix=$HOME/local
        ./b2 cxxflags=-fPIC link=static runtime-link=static --with-filesystem --with-program_options --with-locale --with-system --with-test --with-date_time install

    - name: configure
      run: cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$HOME/local ..
      env:
        WM_LINUX_LINK_STATIC: 1
        CC: clang
        CXX: clang++
      working-directory: build
    - name: build
      run: cmake --build .
      working-directory: build
    - name: test
      run: ./rehearse
      working-directory: build
    - name: run rendertests
      run: source myEnv/bin/activate && python3 runtests.py
      continue-on-error: false
      working-directory: rendertests   
    - name: pack
      run: cmake --build . --config Release --target package
      working-directory: build
    - uses: actions/upload-artifact@v4
      with:
        name: werckmeister-linux-${{ github.sha }}
        path: |
          build/werckmeister-*-Linux.sh
          rendertests/*.mid
